<!DOCTYPE html>
<html>
  <head>
      <title>My First View!!</title>
  </head>
  <body>
    <h1>This is the Info Page</h1>
    <p> This is the info page: here's some information about me!</p>
    <!--<p>This page is displayed because in my app.rb which is my controller file I am calling on the path get '/info' and there I call on the erb :info file which comes over to the views folder finds my info.erb file and loads it onto the browser.</p> -->
  </body>
</html>
